
#stack-draw {
    width: 242px;
    height: 457px;
    border-width: 0px 6px 6px 6px;
    border-style: solid;
    border-color: #414345;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 15px;
    margin-left: 41.5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

button {
    width: 122px;
    padding: 3px 39px;
    font-size: 20pt;
    border: 0;
    border-radius: 6px;
    color: #414345;
    background-color: #a7aaae;
    margin-inline: 10px;
    &:hover {background-color: #8b8f94;}
}

.block {
    margin-bottom: 10px;
    text-align: center;
}
p {margin-top: 20px;}